/*
#1 = 417630
#2 = 417630
*/
p {
	margin: 0 0 10px;
	text-shadow: 0 0 0px black;
	color: rgba(148, 149, 148, 0.88);
a {
	color: #555655;
}
a:hover {
	color: #c7cbd6;
}

/* menu */
.nav>li>a:hover {
	color: #c7cbd6;
}

.navbar .navbar-nav > .active > a {
	color: #c7cbd6;
}
.navbar .navbar-brand:hover {
	color: #c7cbd6;
}

/* flexslider */
.flex-control-paging li a {
	background: #c7cbd6;
}

.flex-direction-nav a:hover{
	background-color: #c7cbd6;
}

.testimonial span.author a {
	color: #c7cbd6;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #848584;
	box-shadow: 0 0 0 4px #7b7c7b;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #7b7c7b;
	box-shadow: 0 0 0 8px #7b7c7b;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #7b7c7b;
}

/* btn */
.btn-theme {
  background: #7b7c7b;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #7b7c7b;
}
.btn-cta,.btn-cta.btn-lg {
  background: #7b7c7b;
  border-color: #7b7c7b;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #7b7c7b;
}

/* footer */
.social-circle li a {
	background: #7b7c7b;
}

a.scrollup{
	background: rgba(102, 103, 102, 0.87);
}